@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  outline: none;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  box-sizing: border-box;
  background: transparent;
  vertical-align: baseline;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
  vertical-align: baseline;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input,
select,
textarea,
button,
.readonly-input {
  border: none;
  border-radius: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  transition: all 0.5s ease;
  background-color: #ffffff;
}

textarea {
  resize: none;
  overflow: auto;
}

input[type='text']::-ms-clear,
input[type='email']::-ms-clear,
input[type='number']::-ms-clear,
input[type='password']::-ms-clear {
  display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

::selection {
  color: #ffffff;
  background: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

html,
body,
input,
select,
textarea,
button {
  font-family: Poppins, sans-serif;
}

a {
  transition: all 0.5s ease;
}

body {
  background-color: #fbfbfb;
}

/* Common */

.no-select {
  user-select: none;
  -webkit-user-select: none;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100vh;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

/* Flexbox */

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-v-center {
  align-items: center;
}

.flex-h-center {
  justify-content: center;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}

.flex-grow-4 {
  flex-grow: 4;
}

.flex-grow-5 {
  flex-grow: 5;
}

.flex-grow-6 {
  flex-grow: 6;
}

.flex-grow-7 {
  flex-grow: 7;
}

.flex-grow-8 {
  flex-grow: 8;
}

.flex-grow-9 {
  flex-grow: 9;
}

.flex-grow-10 {
  flex-grow: 10;
}

/* Site */

.site {
  background-color: #ffffff;
}

/* Box */

.box {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}

.box .box-title {
  font-size: 1.1em;
  font-weight: 600;
}

.box .box-icon {
  width: 24px;
}

.box-vertical-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.box-horizontal-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.box-left-padding {
  padding-left: 20px;
}

.box-right-padding {
  padding-right: 20px;
}

/* Text */

.gray {
  color: #666666;
}

.green {
  color: green;
}

.red {
  color: red;
}

/* Buttons */

.button {
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  text-align: center;
  border-radius: 25px;
  display: inline-block;
  text-decoration: none;
  -webkit-user-select: none;
}

.button i {
  vertical-align: middle;
}

.button-purple {
  color: #ffffff;
  background-color: #413fbc;
}

.button-purple:hover {
  background-color: #3a38a7;
}

.button-medium {
  padding: 15px 20px;
}

.button-block {
  display: block;
}

.button-icon-right {
  margin-left: 10px;
  margin-right: -20px;
}

/* Header */

header {
  margin-bottom: 40px;
}

header .header-left i {
  font-size: 2.2em;
  color: #666666;
  margin-right: 20px;
  vertical-align: middle;
}

header .header-left h1 {
  font-size: 1.5em;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

header .header-right ul,
header .header-right ul li {
  position: relative;
  display: inline-block;
}

header .header-right .header-menu {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #f1f1f1;
}

header .header-right .header-menu a {
  margin: 0 2px;
  color: #999999;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 25px;
  display: inline-block;
  text-decoration: none;
}

header .header-right .header-menu a:hover {
  background-color: #f1f1f1;
}

header .header-right .header-menu a:active {
  color: #413fbc;
  background-color: #f0f0ff;
}

header .header-right .header-menu a.active {
  color: #413fbc;
  pointer-events: none;
  background-color: #f0f0ff;
}

header .header-right .header-icons {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #f1f1f1;
}

header .header-right .header-icons a {
  margin: 0 8px;
  color: #999999;
}

header .header-right .header-icons a:hover {
  color: #333333;
}

header .header-right .header-icons i {
  font-size: 1.8em;
}

header .header-right .header-icons .notification-badge {
  top: -12px;
  right: -1px;
  width: 23px;
  height: 23px;
  color: #ffffff;
  font-size: 0.7em;
  padding-top: 6px;
  position: absolute;
  text-align: center;
  border-radius: 50em;
  display: inline-block;
  background-color: #da0000;
}

header .header-right .header-user li {
  vertical-align: middle;
}

header .header-right .header-user li a {
  color: #000000;
  text-decoration: none;
}

header .header-right .header-user span {
  display: block;
}

header .header-right .header-user span:first-child {
  font-weight: 600;
  margin-bottom: 5px;
}

header .header-right .header-user span:last-child {
  font-size: 0.7em;
  color: #666666;
}

header .header-right .header-user .profile-picture {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 15px;
  border-radius: 50em;
  background-color: #999999;
}

header .header-right .header-user .signout {
  width: 40px;
  height: 40px;
  display: block;
  color: #e28580;
  padding-top: 6px;
  text-align: center;
  border-radius: 50em;
  background-color: #fceced;
}

header .header-right .header-user .signout i {
  font-size: 1.8em;
}

/* Navbar */

.navbar {
  padding: 20px 0 20px 20px;
  background-color: #ffffff;
  border-right: 1px solid #ebebeb;
}

.navbar .logo {
  margin-bottom: 30px;
}

.navbar .logo img {
  width: 130px;
  height: 28px;
}

.navbar h3 {
  color: #666666;
  font-weight: 600;
}

.navbar ul {
  margin: 20px 0;
}

.navbar ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 0;
  color: #666666;
  font-weight: 500;
  text-decoration: none;
  border-right: 5px solid #ffffff;
}

.navbar ul li a i,
.navbar ul li a span {
  vertical-align: middle;
}

.navbar ul li a i {
  margin-right: 25px;
}

.navbar ul li a span {
  font-size: 1em;
}

.navbar ul li a:hover {
  color: #413fbc;
}

.navbar ul li a:active {
  color: #413fbc;
  border-right: 5px solid #413fbc;
}

.navbar ul li a.active {
  color: #413fbc;
  pointer-events: none;
  border-right: 5px solid #413fbc;
}

.navbar .copyright {
  color: #666666;
  font-size: 0.8em;
  margin-top: 50px;
  line-height: 160%;
}

.navbar .copyright strong {
  color: #333333;
}

.navbar .copyright span {
  color: #da0000;
}

/* Content */

.content {
  padding: 20px;
}

.content .content-left {
  width: 30%;
}

.content .content-right {
  width: 70%;
}

/* Market widget */

.market-row {
  font-size: 0.9em;
  padding: 10px 20px;
  border-bottom: 1px solid #ebebeb;
}

.market-row .icon {
  width: 40px;
  height: 40px;
  border-radius: 50em;
  display: inline-block;
  background-color: #cccccc;
}

.market-row strong {
  display: block;
  margin-bottom: 10px;
}

.market-row span {
  font-size: 0.8em;
}

/* Trading history widget */

.trade-history-row {
  padding: 10px 20px 0 20px;
}

.trade-history-row table {
  width: 100%;
}

.trade-history-row table th {
  font-size: 0.8em;
  color: #333333;
  font-weight: 400;
  padding-bottom: 20px;
}

.trade-history-row table td {
  font-size: 0.9em;
  font-weight: 500;
  padding-bottom: 20px;
}

/* Coin horizontal widget */

.widget-coin-horizontal .divider {
  width: 1px;
  height: 50px;
  background-color: #ebebeb;
}

.widget-coin-horizontal .icon {
  width: 50px;
  height: 50px;
  border-radius: 50em;
  display: inline-block;
  background-color: #cccccc;
}

.widget-coin-horizontal label {
  display: block;
  font-size: 0.8em;
  margin-bottom: 15px;
}

.widget-coin-horizontal em {
  font-size: 0.8em;
  font-weight: 500;
  margin-left: 10px;
  display: inline-block;
}

.widget-coin-horizontal input {
  font-size: 1em;
}

/* Coin vertical widget */

.widget-coin-vertical .icon {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 50em;
  display: inline-block;
  background-color: #cccccc;
}

.widget-coin-vertical h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10px;
}

.widget-coin-vertical strong {
  display: block;
  margin-bottom: 20px;
}

.widget-coin-vertical .coin-price {
  padding: 15px;
  color: #666666;
  font-weight: 500;
  border-radius: 20px;
  display: inline-block;
  background-color: #f9f9f9;
}

.widget-coin-vertical p {
  line-height: 160%;
}

.widget-coin-vertical button {
  padding: 0;
  margin-top: 10px;
  color: #3a38a7;
  font-weight: 600;
}

/* 404 */

.logo-404 {
  width: 150px;
}

.title-404 {
  font-size: 2em;
  font-weight: 600;
  margin: 40px 0 10px 0;
}

.paragraph-404 {
  font-size: 1em;
  margin-bottom: 40px;
}